/* Header */
.header {
    position: sticky; 
    top: 0;
    z-index: 100;

    .bar-links {
        width: 100%;
        display: flex;
        justify-content: center;
        background: 
                linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                radial-gradient(circle, var(--primary-background-color), var(--secondary-background-color));
        
        .bar__container {
            display: flex;
            justify-content: flex-end;
            align-items:stretch;
            width: 100%;
            height: 37px;

            position: relative;
            z-index: 2000;

            .bar__group {
                display: flex;
                align-items: center;
                gap: 0;

                .bar-dropdown-button {
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    img {
                        display: block;
                        width: 12px;
                        height: auto;
                        transform: rotate(90deg);
                        filter: invert(100%) brightness(100%);
                    }
                }
            }

            a {
                display: flex;
                align-items: center; 
                padding: 0 30px;
                text-decoration: none;
                color: white;
                transition: color 0.3s ease;

                &:hover {
                    color: rgba(247, 190, 40);
                }

                &:last-child {
                    background-color: var(--sub-color);
                    color: black;
                }
            }

            .utility-bar-link {
                background-color: var(--primary-background-color);
                color: white; 
                width: 140px;

                &:hover {
                    color: white; 
                }
            }
        }
    }

    .header-contain {
        background-color: white;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px 48px;

        img {
            width: 23vh;
        }

        .header-items {
            display: flex;
            justify-content: space-between;
            width: 80%;

            .main__links {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                text-decoration: none;

                & a {
                    text-decoration: none;
                    color: rgba(0, 82, 154);
                    font-size: 1.2rem;
                    font-weight: 600;
                    transition: color 0.3s ease;

                    &:hover {
                        color: rgba(12, 90, 226);
                    }
                }

                .links-dropdown-button {
                    background-color: transparent;
                    border: 0;
                    padding: 6px 8px;
                    cursor: pointer;
                    display: inline-flex;
                    border-radius: 4px;
                    align-items: center;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.08);
                    }

                    img {
                        display: block;
                        width: 20px;
                        height: auto;
                        transform: rotate(90deg);
                        filter: invert(14%) sepia(91%) saturate(2852%) hue-rotate(202deg) brightness(91%) contrast(105%);
                    }

                    #search-img {
                        transform: rotate(-360deg);
                    }
                }
            }
        }
    }
}

/* Footer */
footer {
    .prefooter {
        display: grid;
        background-color: rgba(7, 87, 197);
        padding: 72px 48px;
        border-radius: 10px 10px 0 0;

        h2 {
            display: inline-block;
            width: max-content;
            font-size: 3rem;
            margin: 0 0 72px;
        }

        .prefooter-links {
            display: flex;
            justify-content: space-between;
            gap: 60px;

            a {
                display: flex;
                justify-content: space-between;
                font-size: 1.5rem;
                padding: 0 0 10px;
                flex-grow: 1;
                align-items: center;
                margin: 0 10px;     
                border-bottom: 2px solid rgba(253, 193, 38);
                cursor: pointer;
                transition: border-bottom 0.3s ease;

                &:hover {
                    border-bottom: 4px solid rgba(253, 193, 38);

                    img {
                        transform: translateX(20px);
                    }
                }

                img {
                    width: 20px;
                    transition: transform 0.3s ease;
                    
                    filter: invert(82%) sepia(51%) saturate(954%) hue-rotate(336deg) brightness(102%) contrast(99%);
                }
            }
        }
    }
    

    .footer-container {
        display: grid;
        grid-template-areas: 
            "logo primary"
            "secondary secondary";
        grid-template-columns: 1fr 2fr;
        
        color: white;
        padding: 72px 48px;
        background-color: #003563;
        font-family: Arial, sans-serif;

        .footer-logo {
            grid-area: logo;
            max-width: 300px;

            p {
                font-size: 1.25rem;
                line-height: 2;
            }

            img {
                margin: 0 0 20px;
                display: block;
                width: 37vh;
                
            }
        }

        .footer-primary {
            grid-area: primary;
            padding: 0 0 72px 128px;

            ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                gap: 25px;

                li {
                    list-style-type: none;
                    color: white;
                    
                    a {
                        font-size: 1.3rem; 
                        color: white;
                        transition: text-decoration 0.3s ease;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .footer-secondary {
            grid-area: secondary;
            position: relative;
            padding: 40px 0 0;
            

            &::before {
                content: ""; 
                position: absolute;
                top: 0;

                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
                width: 100vw;

                height: 2px; 
                background-color: #00539B;
            }

            ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style: none;
                gap: 10px;

                li {
                    list-style-type: none;
                    border-right: 1px solid white;
                    padding: 0 8px 0 0;

                    a {
                        
                        color: white;
                        transition: text-decoration 0.3s ease;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .copyright {
                margin-top: 20px;
            }
        }

    }   
    
}